<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--<script src="script.js"></script>-->
    <div class="container">
        <img src="static/images/parking.png" alt="">
        <div class="text">
            <p>Area 19</p>
            <div id="current_spots">Loading...</div>
            <p></p>
        </div>
        <h1>Open spots</h1>

    </div>
    <script src="/static/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>

</body>
</html>